/* --------- PIN FIELD --------- */
.pinfield{
	text-align:center;
	margin:0 auto;}
.pin_input{
	float:left;
	font-weight:700;
	text-align:center;
	-wap-input-format:*N;
	border:1px solid #710024;
	margin:5px auto;
	padding:0;}
#pin_entry p{
	font-size:small;
	margin:5px 0;
	padding:5px 0;}
#sms_to{text-align:center;}
.panel{
	text-align:center;
	font-size:12px;
	line-height:16px;
	margin:10px;
	padding:10px;}
h2{
	font-size:14px;
	font-weight:bold;
	margin:0 0 5px;
	padding:0;
	color:#fac34c;}


/* --------- OPERATOR SELECTION --------- */
#operators{width:100%;}
#operators ul{
	margin:0;
	padding:0;}
#operators li{
	display:block;
	text-align:center;
	margin:5px 0 5px 0;}
#operator_selection h2,
#operator_selection h3{
	font-weight:700;
	color:#FFF;
	margin:10px 0;
	padding:0;}
#pin_entry,
#operator_selection{
	height:auto;
	text-align:center;
	width:auto;
	margin:0;
	padding:0;}
.submit_btn img,
.submit_btn2,
#operators img{
	border:0;
	border-image:none;
	cursor:pointer;
	outline:none;}


/* --------- FOR LINK CLICK --------- */
#linkclick_msg1{display:none;}
#linkclick_msg p{color:#fff;}


/* --------- SIZES --------- */
.res-640 .pinfield{
	width:256px;
	height:75px;}
.res-640 .pin_input{
	font-size:55px;
	width:160px;
	height:75px;}
.res-640 .submit_btn,
.res-640 #operators img{
	height:126px;
	width:460px;}


.res-480 .pinfield{
	width:210px;
	height:62px;}
.res-480 .pin_input{
	font-size:45px;
	width:132px;
	height:62px;}
.res-480 .submit_btn{
	height:95px;
	width:380px;}
.res-480 #operators img{
	height:50px;
	width:200px;}
	

.res-400 .pinfield{
	width:168px;
	height:49px;}
.res-400 .pin_input{
	font-size:35px;
	width:104px;
	height:49px;}
.res-400 .submit_btn{
	height:82px;
	width:300px;}
.res-400 #operators img{
	height:50px;
	width:200px;}
	

.res-320 .pinfield{
	width:135px;
	height:40px;}
.res-320 .pin_input{
	font-size:23px;
	width:85px;
	height:40px;}
.res-320 .submit_btn,
.res-320 #operators img{
	height:60px;
	width:212px;}
	

.res-240 .pinfield{
	width:91px;
	height:26px;}
.res-240 .pin_input{
	font-size:18px;
	width:55px;
	height:26px;}
.res-240 .submit_btn,
.res-240 #operators img{
	height:43px;
	width:157px;}
	

.res-176 .pin_input{
	font-size:11px;
	width:38px;
	height:18px;}
.res-176 .pinfield,
.res-128 .pinfield{
	height:18px;
	width:64px;}
.res-176 .submit_btn,
.res-176 #operators img{
	height:30px;
	width:109px;}


.res-128 .pin_input{
	font-size:12px;
	width:38px;
	height:18px;}
.res-128 .submit_btn,
.res-128 #operators img{
	height:31px;
	width:114px;}
	
	
.res-640 #operator_selection h2,
.res-640 #operator_selection h3,
.res-480 #operator_selection h2,
.res-480 #operator_selection h3,
.res-400 #operator_selection h2,
.res-400 #operator_selection h3{font-size:large;}

.res-320 #operator_selection h2,
.res-320 #operator_selection h3,
.res-240 #operator_selection h2,
.res-240 #operator_selection h3,
.res-176 #operator_selection h2,
.res-176 #operator_selection h3,
.res-128 #operator_selection h2,
.res-128 #operator_selection h3{font-size:medium;}